{% extends 'blog/base.html' %}

{% load blog_tags %}

{% block title %}
    {{post.title}}
{% endblock %}


{% block content %}
    <h1>{{post.title}}</h1>
    <p class="date">
        Publicado {{post.publish}} by {{post.author}}
    </p>
    {{post.body|markdown}}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Compartilhe este post por e-mail
        </a>
    </p>
    
    {% with comments.count as total_comments %}
     <h2>
        {{total_comments}} comentário{{total_comments|pluralize}}
     </h2>        
    {% endwith %}

    <h2>Similar Posts</h2>
    
    {% for post in similiar_posts %}
        <p>
            <a href="{{post.get_absolute_url}}">{{ post.title }}</a>
        </p>
        {% empty %}
            <p>Não existem posts similares para este post.</p>
    {% endfor %}
        
    
    {% for comment in comments %}
     <div class="comment">
        <p class="info">
            Comentario {{forloop.counter}} por {{comment.name}}
            {{comment.created}}
        </p>
        {{comment.body|linebreaks}}
     </div>
     {% empty %}
         <p>Ainda não existem comentários para este post.</p>        
    {% endfor %}
    
    {% if new_comment %}
        <h2>Seu comentario foi adicionado.</h2>
        {% else %}
            <h2>Adicione um novo comentario</h2>
            <form method="post">
                {{comment_form.as_p}}
                {% csrf_token %}
                <input type="submit" value="Adicionar Comentario">
            </form>
    {% endif %}
                
{% endblock  %}